//-
  in: 
    options.type              ("guests" or "rooms")
    options.custom_title      str
    options.tip               str
    options.values            ([$rooms, $beds, $baths] or [$adult, $kids, $babies])
    options.expanded          bool
    options.always_expanded   bool
    options.layout_expand     bool
    options.buttons_footer    bool

include ../button/button
include ../_dd_input/dd_input

mixin dropdown(options)
  -
    var title = "", type = "guests", text = "", tip, input_ro = true
    var v = [0, 0, 0], placeholder, expanded = false, always_expanded = false, layout_expand = false
    var buttons_footer = true

    if(typeof(options) == 'object') {
      typeof(options.type) != 'undefined' && (type = options.type)
      typeof(options.custom_title) != 'undefined' && (title = options.custom_title)
      if (typeof(options.values) == 'object' && options.values.length == 3) v = options.values
      typeof(options.tip) != "undefined" && (tip = options.tip)
      typeof(options.always_expanded) != "undefined" && (always_expanded = options.always_expanded)
      typeof(options.layout_expand) != "undefined" && (layout_expand = options.layout_expand)
      typeof(options.buttons_footer) != "undefined" && (buttons_footer = options.buttons_footer)
      typeof(options.expanded) != "undefined" && (expanded = options.expanded)

    }
    if (type != "rooms") type = "guests"
    if (type == "guests") {
      placeholder = "Сколько гостей"
    
    } else {  
      placeholder = "Комнаты"
      if(title == "") title = "Удобства номера"
    }
    if(always_expanded) expanded = true
  .dropdown
    .caption
      .h= title
      .tip= tip
    +dd_input({always_checked: always_expanded, checked: expanded, text: text, placeholder: placeholder, input_ro: input_ro})
    .dd-content(class= type + (always_expanded ? " dd-content-a-expanded" : "") + (layout_expand ? " dd-layout-expand" : "") hidden= !expanded)
      if(type != "guests") 
        +_row({text: "Спальни", val: v[0]})
        +_row({text: "Кровати", val: v[1]})
        +_row({text: "Ванные комнаты", val: v[2]})
      else
        +_row({text: "Взрослые", val: v[0]})
        +_row({text: "Дети", val: v[1]})
        +_row({text: "Младенцы", val: v[2]})
      if buttons_footer   
        .footer-row
          +button({text: "Очистить", classes: "dd-clear", url: "#"})
          .spacer
          +button({text: "Применить", type: "text-default", classes: "dd-apply", url:"#"})


//-
  in: opt.text
      opt.val
mixin _row(opt)
  .dd-row
    .dd-txt= opt.text
    .dd-row-mns(tabindex="0") -
    .dd-row-num= opt.val
    .dd-row-pls(tabindex="0") +

