//-
  in:
    options.type          ("guests" or "rooms" or "date")
    options.custom_title  str
    options.tip           str
    options.values        ([$rooms, $beds, $baths] or [$adult, $kids, $babies])

//include ./ico_drop
include ../button/button

mixin dropdown(options)
  -
    var title = "Гости", type = "guests", text = "Сколько гостей", tip, input_ro = true
    var v = [0, 0, 0], placeholder

    if(typeof(options) == 'object') {
      typeof(options.type) != 'undefined' && (type = options.type)
      if(type == "rooms") {title = "Удобства номера"; text = "Комнаты" }
      typeof(options.custom_title) != 'undefined' && (title = options.custom_title)
      if (typeof(options.values) == 'object' && options.values.length == 3) v = options.values
      typeof(options.tip) != "undefined" && (tip = options.tip)
    }
    if (type == "date") {
      input_ro = false
      placeholder = "ДД.ММ.ГГГГ"
    }
  .dropdown
    .caption
      .h= title
      .tip= tip
    .dd-input.input-border
        input.dd-input-text(value= text readonly= input_ro placeholder= placeholder)
        .ico.dd-pic-collapsed
    .dd-content(class= type hidden)
      if(type == "rooms") 
        +_row({text: "Спальни", val: v[0]})
        +_row({text: "Кровати", val: v[1]})
        +_row({text: "Ванные комнаты", val: v[2]})
      else
        +_row({text: "Взрослые", val: v[0]})
        +_row({text: "Дети", val: v[1]})
        +_row({text: "Младенцы", val: v[2]})
        .footer-row
          +button({text: "Очистить", classes: "dd-clear", url: "#"})
          .spacer
          +button({text: "Применить", type: "text-default", classes: "dd-apply", url:"#"})


//-
  in: opt.text
      opt.val
mixin _row(opt)
  .dd-row
    .dd-txt= opt.text
    .dd-row-mns(tabindex="0") -
    .dd-row-num= opt.val
    .dd-row-pls(tabindex="0") +

