//-
include ../../components/logo/logo

mixin footer_unuse(opt)
  -
    var a

  .footer-unuse
    .logo-cntr
      +logo({type: 1})
    .desc
      | Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam 
      br 
      | pellentesque aliquam curabitur cociis.
    .nets
      a.twit
      a.face
      a.insta
