
include ./header

mixin header_rus
  +header({
            menu_list: [
            {text: "О нас"},
            {text: "Услуги", expandable: true},
            {text: "Вакансии"},
            {text: "Новости"},
            {text: "Соглашения", expandable: true},
            ],
            login_capt: "Войти", reg_capt: "Зарегистрироваться",
            })
