@import "../../common/fonts.scss";

.facility {
  display: flex;

  color: var(--c_dark75);
  border-bottom: 1px solid var(--c_dark10);
  
  padding-bottom: 20px;
  margin-bottom: 20px;

  overflow: hidden;

  .pic {
    width: 48px;
    height: 48px;
  }

  .content {
    padding: 2px 0 0 10px;

    .header {
      @include font-h3();
      text-transform: capitalize;
      font-size: 14px;
      height: 22px;
      display: flex;
      align-items: center;
    }
    .body {
      @include font-body();
    }
  }
   
}
