@import '../../common/fonts.scss';

@mixin button-common {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover, &:focus {
    opacity: 0.5;
  }
}

.button {
  @include font-h3;
  @include button-common;
  color: var(--c_dark50);
  background: #fff;
}

.button-default {
  @include font-h3;
  @include button-common;
  color: var(--c_purple);
  background: #fff;
}

.button-bordered {
  @include font-h3;
  @include button-common;

  color: var(--c_purple);
  
  background: #fff;
  border: 2px solid var(--c_purple);

  border-radius: 22px;
  
}

.button-filled {
  display: flex;
  @include font-h3;
  @include button-common;
  color: #fff;
  
  background: linear-gradient(180deg, var(--c_purple) 0, var(--c_purple_grad) 100%);
  border-radius: 22px;
 
  .button-text {
    position: absolute;
  }
  .spacer {
    flex-grow: 1;
  }
  .pic {
    flex-grow: 0;
  }
}
