@import '../../common/fonts.scss';

@mixin button-common {
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  
  cursor: pointer;
  &:hover, &:focus, &.hovered {
    opacity: 0.5;
  }
}

.button {
  @include font-h3;
  @include button-common;
  color: var(--c_dark50);
  background: #fff;
  display: inline;
}

.button-default {
  @include font-h3;
  @include button-common;
  color: var(--c_purple);
  background: #fff;
  display: inline;
}

.button-bordered {
  @include font-h3;
  @include button-common;

  color: var(--c_purple);
  
  background: #fff;
  border: 2px solid var(--c_purple);
  border-radius: 22px;
  width: 100%;
  height: 100%;
}

.button-filled {
  @include font-h3;
  @include button-common;
  color: #fff;
  
  background: linear-gradient(180deg, var(--c_purple) 0, var(--c_purple_grad) 100%);
  border-radius: 22px;
  width: 100%;
  height: 100%;
  .button-text {
    position: absolute;
    width: max-content;
  }
  .spacer {
    flex-grow: 1;
  }
  .pic {
    flex-grow: 0;
  }
}

.button-content-width {
  width: min-content;
  padding: 0 19px;
}
