@import "../../common/fonts.scss";

.enter {
  padding: 39px 29px 29px 29px;
  width: 380px;
  background: #fff;
  
  border: 1px solid rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: var(--c_dark100);
  
  .h1 {
    @include font-cards-header();

    padding-bottom: 15px;
  }
  .pass-cntr {
    margin-top: -15px;
    padding-bottom: 0px;
  }
  .butt-cntr {
    padding-bottom: 30px;
  }

  .enter-cntr {
    padding-left: 0px;
    padding-bottom: 2px;

    display: flex;
    .caption {
      display: flex;
      align-items: center;
      flex-grow: 1;
      
      @include font-body();
      color: #000;
    }
    .butt-ent-cntr{
      display: flex;
      width: 99px;
      height: 44px;
    }
  }

}
