//-
  in:
    options.title
    options.placeholder
    options.text

mixin textbox(options)
  -
    var title, placeholder, text
    if(typeof(options) == 'object') {
      title = typeof(options.title) != 'undefined' ? options.title : ""
      placeholder = typeof(options.placeholder) != 'undefined' ? options.placeholder : ""
      text = typeof(options.text) != 'undefined' ? options.text : ""
    }

  .textbox
    h3= title
    input(class = 'textbox-input' placeholder = placeholder value = text)
 
     
