//-
  opt.type    int  {0 - grey
                    1 - color + text

mixin logo(opt)
  -
    var type = 0
    if (typeof(opt) == "object") {
      typeof(opt.type) != "undefined" && (type = opt.type)
    }
  .logo
    if type == 0
      .pic
    else
      .pic_color
      .toxin

