.logo {
  display: flex;
  flex-direction: row;
  align-items: center;

  .pic {
    background-image: url("./images/grey_logo.svg");
    width: 48px;
    height: 48px;
  }

  .pic-color {
    background-image: url("./images/color_logo.svg");
    width: 40px;
    height: 40px;
  }

  .toxin {
    margin-left: 12px;
    background-image: url("./images/toxin_logo.svg");
    width: 54px;
    min-width: 54px;
    height: 14px;
  }
}
