@import "../../common/fonts.scss";

.bulletlist {
  @include font-body();
  color: var(--c_dark75);

  ul {
    padding: 0px;
    list-style: none;
    list-style-position: inside;
    margin: 0;

    li {
      padding: 0px 0px 0px 21px;
      margin-bottom: 10px;
      background-image: url("img/ico_list.svg");
      background-repeat: no-repeat;
      background-position: 0 7px;
    }
  }
}

