include ../../components/logo/logo

//-
  opt [color:str, desc:str, hex:str]

mixin _color(opt)
  .color-item
    .square(style="background: " + opt[0] + ";")
    .spacer
    .content
      .desc= opt[1]
      .hex= opt[2]


//-     0           1                2               3                  4
  opt [size: int, text_header: str, text_desc: str, font_family: str, isbold: bool]

mixin _font(opt)
  -
    var size = 12, text_header, text_desc, isquicksand = false, isbold = true, line_height = 24
    if (typeof(opt) == "object") {
      typeof(opt.size) != "undefined" && (size = opt.size)
      typeof(opt.text_header) != "undefined" && (text_header = opt.text_header)
      typeof(opt.text_desc) != "undefined" && (text_desc = opt.text_desc)
      typeof(opt.isquicksand) != "undefined" && (isquicksand = opt.isquicksand)
      typeof(opt.isbold) != "undefined" && (isbold = opt.isbold)
    }
  .font-item(style="font-size: " + size + "px;")
    .header= text_header
    .desc(style= "font-family: " + (isquicksand ? "Quicksand" : "Montserrat")   + "; \
                  font-weight: " + (isbold ? "bold" : "normal")                 + "; \
                  color: " + (isbold ? "var(--c_dark100)" : "var(--c_dark75)")  + "; \
                  line-height: " + line_height + "px" +                           ";")= text_desc

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Colors and types
    link(rel="stylesheet" type="text/css" href="main.css")    
  body
    .colors-types
      .logo-container
        +logo
      .margin
      .left
        +_color(["var(--c_dark100)", "Dark Shade 100%", "#1F2041"])
        +_color(["var(--c_dark75)", "Dark Shade 75%", "#1F2041"])
        +_color(["var(--c_dark50)", "Dark Shade 50%", "#1F2041"])
        +_color(["var(--c_dark25)", "Dark Shade 25%", "#1F2041"])
        +_color(["var(--c_dark05)", "Dark Shade 5%", "#1F2041"])
        +_color(["var(--c_purple)", "Purple", "#BC9CFF"])
        +_color(["var(--c_green)", "Green", "#6FCF97"])
      .center
        +_font({size: 24, text_header: "H1", text_desc: "This one is the sub-section or widget title", isquicksand: true, line_height: 30})
        +_font({size: 19, text_header: "H2", text_desc: "Next one is the item title inside widgets", isquicksand: true, line_height: 24})
        +_font({size: 12, text_header: "H3", text_desc: "This is a label or CTA text", line_height: 15})
        +_font({size: 14, text_header: "Body", text_desc: "This is the body text which is used for most of the design, like paragraphs, lists, etc.", 
                isbold: false, line_height: 24})
      .margin

