@import "../../common/fonts.scss";

body {
  margin: 0;
}

.colors-types {
  .logo-container {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  
  display: flex;
  justify-content: center;
  padding-top: 145px;
  
  .margin {
    width: 150px;
    flex-shrink: 10;
  }
  .left {
    flex-shrink: 1;
    min-width: 70px;
    .color-item {
      display: flex;
      flex-flow: row wrap;
      padding: 0 0 20px 0;
      .square {
        width: 70px;
        height: 70px;
        border-radius: 6px;
      }
      .spacer {
        width: 40px;
      }
      .content {
        @include font-h2();
        padding-top: 7px;
        line-height: 29px;
        .desc {
        }
        .hex {
          font-weight: normal;
        }
      }
    }
  }
  .center {
    flex-grow: 1;
    
    .font-item {
      display: flex;
      padding-bottom: 50px;

      .header {
        font-family: Montserrat;
        max-width: 465px;
        text-align: right;
        flex: 1 2 auto;
        color: var(--c_dark25);
        margin-top: -2px;
      }

      .h1 {
        font-size: 24px;
      }
      .h2 {
        font-size: 19px;
      }
      .h3 {
        font-size: 12px;
      }
      .h0 {
        font-size: 14px;
        line-height: 24px;
      }

      .desc {
        font-family: Montserrat;
        font-weight: bold;
        color: var(--c_dark100);

        padding-left: 30px;
        max-width: 385px;
        flex: 10 1 auto;
        line-height: 24px;
      }

      .d1 {
        font-family: Quicksand;
        font-size: 24px;
        line-height: 30px;
      }
      .d2 {
        font-family: Quicksand;
        font-size: 19px;
        line-height: 24px;
      }
      .d3 {
        font-size: 12px;
        text-transform: uppercase;
        line-height: 15px;
      }
      .d0 {
        font-size: 14px;
        font-weight: normal;
        line-height: 24px;

        max-width: 345px;
        margin-top: -2px;
      }
    }
  }
}


