@import "../_dd_input/dd_input.scss";
@import "../../common/fonts.scss";

.datedropdown {
  
  .caption {
    display: flex;
    @include font-h3();    
    padding-bottom: 5px;
    overflow: hidden;
    .h {
    }

    .tip {
      flex-grow: 1;
      font-weight: normal;
      color: var(--c_dark50);
      text-align: right;
    }
  }

  
  @include dd-input();

  .picker{
    position: absolute;
    width: 0px;
    height: 0px;
    border: none;
  }
}
