@import "../../common/fonts.scss";

.feedback {
  display: grid;
  grid-template-columns: 48px auto;
  grid-template-rows: 48px auto;
  @include font-body();
  color: var(--c_dark75);
  .image {
    width: 48px;
    height: 48px;
    background-repeat: no-repeat;
    border-radius: 32px; 
    border: 2px solid #ffffff;
    box-shadow: 0px 10px 20px var(--c_dark10);
  }

  .likes {
    padding-top: 12px;
    margin: 0 auto;
  }

  .header {
    height: 48px;
    padding: 0 0 0 10px;

    .name {
      @include font-h3();
      font-size: 14px;
      text-transform: capitalize;
    }
  }

  .text {
    padding: 10px 0 0 10px;
  }
}

