//-
  options.text    (\n supports)
  options.checked
  options.isrich

mixin checkbox(options)
  -
    var texts= [""], checked = false, isrich = false
    if (typeof(options) != "undefined") {
      typeof(options.text) != "undefined" && (texts = options.text.split("\n"))
      typeof(options.checked) != "undefined" && (checked = options.checked)
      typeof(options.isrich) != "undefined" && (isrich = options.isrich)
    }

  label.checkbox
    .textwrapper
      if isrich
        each val, i in texts
          if i == 0
            .richtext= texts[i]
          else
            .richtext-desc= texts[i]
      else
        each val, i in texts
          .text= texts[i]
    input(type="checkbox" checked= checked)
    .checkmark
    
