include ../../components/logo/logo
include ../../cards/findroom/findroom
include ../../cards/regacc/regacc
include ../../cards/roomrent/roomrent
include ../../cards/enter/enter

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Cards
    link(rel="stylesheet" type="text/css" href="main.css")    
    script(src="jquery.min.js")
    script(src="main.bundle.js")
  body
    .page-cards
      .logo-container
        +logo
      .margin
      .main-container
        .column
          .card-cntr
            +findroom
          .card-cntr
            +regacc
        .column
          .card-cntr
            +roomrent
          .card-cntr
            +enter
        .column
          .card-cntr
            .picker.datepicker-here(data-range="true" data-startDate="2019-05-05" data)          
      .margin
 
