.page-cards {
  display: flex;
  padding-top: 150px;
  background: #e5e5e5;

  .logo-container {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .margin {
    width: 50%;
    flex-shrink: 100;
  }

  .main-container {
    display: flex;
    flex-flow: column wrap;
    height: 1100px;
    width: 1160px;
    .card-cntr {
      margin: 0 40px 40px 0;
    }
  }
}
