include ../../components/logo/logo
include ../../cards/findroom/findroom
include ../../cards/regacc/regacc
include ../../cards/roomrent/roomrent
include ../../cards/enter/enter
include ../../cards/roompreview/roompreview
include ../../cards/calendar/calendar

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Cards
    link(rel="stylesheet" type="text/css" href="main.css")    
    script(src="jquery.min.js")
    script(src="main.bundle.js")
  body
    .page-cards
      .logo-container
        +logo
      .margin
      .main-container
        .column
          .card-cntr
            +findroom
          .card-cntr
            +regacc
        .column
          .card-cntr
            +roomrent
          .card-cntr
            +enter
        .column
          .card-cntr
            +calendar
          .card-cntr
            +roompreview({img: "../../images/888_4x.png", n: 888, islux: true, price: 9990, stars: 5, reviews: 145, isscroll: true})
          .card-cntr
            +roompreview({img: "../../images/840_4x.png", n: 840, islux: false, price: 9900, stars: 4, reviews: 65})
      .margin
 
