.page-cards {
  display: flex;
  padding-top: 150px;
  background: #f4f4f6;

  .logo-container {
    position: absolute;
    top: 30px;
    left: 30px;
  }
  .margin {
    width: 0%;
		flex-grow: 1;
  }

  .main-container {
    display: flex;
    flex-flow: row wrap;
		flex-grow: 0;
		justify-content: center;
		margin-right: -40px;

    .column {
			margin-right: 40px;
		}
    .card-cntr {
      margin: 0 0 40px 0;
    }
  }
}
