
include ../../components/logo/logo
include ../../components/button/button
include ../../components/textbox/textbox
include ../../components/dropdown/dropdown
include ../../components/datedropdown/datedropdown

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Form Elements
    link(rel="stylesheet" type="text/css" href="main.css")    
    script(src="jquery.min.js")
    script(src="main.bundle.js")
  body
    .form-elements
      .logo-container
        +logo
      .grid-a
        //+button({text: "grid-a"})
        +textbox({title: "text field", tip: "default", placeholder: "Email",})
        +textbox({title: "text field", tip: "hover / focus",  text: "This is pretty awesome", ishovered: true})
        +dropdown({custom_title: "dropdown", tip: "default"})
        +textbox({title: "masked text field", tip: "default",  text: "", mask: "date"})
        +dropdown({type: "rooms", layout_expand: true, expanded: true, buttons_footer: false})
        +button
      .grid-b
        //+button({text: "grid-b"})
        +datedropdown
        +datedropdown({splitted: true, dates: ["", "2020-01-19"]})
      .grid-c
        +button({text: "grid-c"})
