@import "../../common/fonts.scss";

.form-elements {
  .logo-container {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 50% auto;
  grid-gap: 100px;

  padding: 143px 0 0 141px;
  
  .h3 {
    @include font-h3();
    padding-bottom: 16px;
    color: var(--c_dark100);
  }

  .grid-a {
    
    justify-content: left; 
  }

  .grid-b {
    .checkbox-buttons {
      padding-bottom: 29px;
      .h3 {
        padding-bottom: 18px;
      }
    }
    .radiobuttons {
      padding-bottom: 40px;
      .h3 {
        padding-bottom: 13px;
      }
    }
    .togglegroup {
      padding-bottom: 33px;
      .h3 {
        padding-bottom: 13px;
      }
    }
    .likebuttongroup {
      padding-bottom: 40px;
      .h3 {
        padding-bottom: 16px;
      }
      .sub {
        display: flex;
        flex-flow: row;
      }
    }
    .ratebuttongroup {
      padding-bottom: 33px;
      .h3 {
        padding-bottom: 16px;
      }
      .sub {
        display: flex;
        flex-flow: row;
      }
    }
  }
}
