
.form-elements {
  .logo-container {
    position: absolute;
    top: 30px;
    left: 30px;
  }

  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 50% auto;
  grid-gap: 100px;

  padding: 143px 0 0 141px;
  .grid-a {
    
    justify-content: left; 
  }
}
