.regsign-page {
  
  >.main-cntr {
    display: flex;
    justify-content: center;
    align-items: center;

    background-image: url(./images/regsign.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: -70px;
    height: 702px;
  }

  
  .content {
  }
}
