include ../../components/headfoot/header_rus
include ../../components/headfoot/footer_rus
include ../../cards/enter/enter

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Sign in
    link(rel="stylesheet" type="text/css" href="main.css")    
    script(src="jquery.min.js")
    script(src="main.bundle.js")

    .regsign-page
      +header_rus
      .main-cntr
        .content
          +enter
      +footer_rus
