@import "../../common/fonts.scss";

.toggle {
  display: flex;
  position: relative;
  @include font-body();
  color: var(--c_dark75);

  padding-left: 50px;
  padding-bottom: 10px;
  input {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
  }

  .checkmark {
    position: absolute;
    top: 3px;
    left: 0;
    width: 40px;
    height: 20px;
    border: 1px solid var(--c_dark25);
    border-radius: 10px;
  }
  input:checked ~ .checkmark {
    border-color: var(--c_purple);
  }
  
  input:checked ~ .checkmark:after {
    transform: translateX(20px);
    background: linear-gradient(180deg, var(--c_purple) 0%, var(--c_purple_grad) 100%);
    background-color: var(--c_purple);
  }

  &:hover, &:not(:hover) input:focus ~ .checkmark {
    opacity: 0.5;
  }

  .checkmark:after {
    display: block;
    position: absolute;
    content: "";
    box-sizing: border-box;
    
    left: 3px;
    top: 3px;
    width: 12px;
    height: 12px;
    
    border-radius: 10px;
    background-color: var(--c_dark25);
    transition: .5s
  }

}
