
body {
  outline: none;
  text-size-adjust: none;
}

* {
  box-sizing: border-box;
}

h3 {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  /*line-height: 15px;*/
  /* identical to box height */

  text-transform: uppercase;
}

@font-face {
  font-family: Montserrat;
  src: url('fonts/Montserrat-Regular.ttf') format('truetype'),
       url('fonts/fuck.woff') format('woff') ;
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url('fonts/Montserrat-Bold.ttf') format('truetype'),
       url('fonts/fuck.woff') format('woff') ;
}

@font-face {
  font-family: Quicksand;
  src: url('fonts/Quicksand-Regular.ttf') format('truetype'),
       url('fonts/fuck.woff') format('woff') ;
}

@font-face {
  font-family: Quicksand;
  font-weight: bold;
  src: url('fonts/Quicksand-Bold.ttf') format('truetype'),
       url('fonts/fuck.woff') format('woff') ;
}

@font-face {
  font-family: Opensans;
  font-weight: bold;
  src: url('fonts/OpenSans-Bold.ttf') format('truetype'),
       url('fonts/fuck.woff') format('woff') ;
}

[hidden] {
  display: none;
}

