include ./components/textbox/textbox
include ./components/dropdown/guests
include ./components/button/button
include ./components/checkbox/checkbox
include ./components/radiogroup/radiogroup
include ./components/toggle/toggle
include ./components/likebutton/likebutton
include ./components/ratebutton/ratebutton
include ./components/pagination/pagination
include ./components/checkboxlist/checkboxlist
include ./components/bulletlist/bulletlist

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Пример страницы
    link(rel="stylesheet" type="text/css" href="main.css")
    
  body
    script(src="main.bundle.js")
    //.wrapper
    +textbox({title: "Text field", placeholder: "Email:"})
    +textbox({title: "shit", text: "Sluts"})
    +guests({values: [1,2,3]})
    +textbox
    +button({text: "fuck"})
    +button({text: "fuck", type: "bordered"})
    +button({text: "fuck", type: "filled"})
    +button({text: "fuck", type: "pay"})
    +checkbox({text: "Можно пригласить гостей (до 10 человек)", checked: true})
    +checkbox({text: "Можно пригласить гостей \n(до 10 человек)", checked: true})
    +checkbox({text: "Можно пригласить гостей \n(до 10 человек)", isrich: true, checked: false})
    +radiogroup({name: "radio1", labels: ["Мужчина", "Женщина"], isel: 0})
    +toggle({text: "fuck fuck"})
    +likebutton({value: 1})
    +likebutton({value: 12, checked: true})
    +ratebutton({stars: 3}) 
    +pagination
    +checkboxlist({title: "expandable checkbox list", content: [["Завтрак", false], ["Письменный cтол", false], ["Стул для кормления", true], ["Кроватка", true], ["Телевизор", true]]})
    +bulletlist({list: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия - после 13:00, a выезд до 12:00"]})
