include ./components/textbox/textbox
include ./components/dropdown/guests
include ./components/button/button
include ./components/checkbox/checkbox
include ./components/radiogroup/radiogroup
include ./components/toggle/toggle
include ./components/likebutton/likebutton
include ./components/ratebutton/ratebutton
include ./components/pagination/pagination
include ./components/checkboxlist/checkboxlist
include ./components/bulletlist/bulletlist
include ./components/facility/facility
include ./components/feedback/feedback

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Пример страницы
    link(rel="stylesheet" type="text/css" href="main.css")
    
  body
    script(src="main.bundle.js")
    //.wrapper
    +textbox({title: "Text field", placeholder: "Email:"})
    +textbox({title: "shit", text: "Sluts"})
    +guests({values: [1,2,3]})
    +textbox
    +button({text: "fuck"})
    +button({text: "fuck", type: "bordered"})
    +button({text: "fuck", type: "filled"})
    +button({text: "fuck", type: "pay"})
    +checkbox({text: "Можно пригласить гостей (до 10 человек)", checked: true})
    +checkbox({text: "Можно пригласить гостей \n(до 10 человек)", checked: true})
    +checkbox({text: "Можно пригласить гостей \n(до 10 человек)", isrich: true, checked: false})
    +radiogroup({name: "radio1", labels: ["Мужчина", "Женщина"], isel: 0})
    +toggle({text: "fuck fuck"})
    +likebutton({value: 1})
    +likebutton({value: 12, checked: true})
    +ratebutton({stars: 3}) 
    +pagination
    +checkboxlist({title: "expandable checkbox list", content: [["Завтрак", false], ["Письменный cтол", false], ["Стул для кормления", true], ["Кроватка", true], ["Телевизор", true]]})
    +bulletlist({list: ["Нельзя с питомцами", "Без вечеринок и мероприятий", "Время прибытия - после 13:00, a выезд до 12:00"]})
    +facility({pic: 0, header: "комфорт", body: "Шумопоглощающие стены"})
    +facility({pic: 1, header: "удобство", body: "Окно в каждой из спален"})
    +facility({pic: 2, header: "Уют", body: "Номер оснащен камином"})
    +feedback({img: "./images/murat.png", scale: 200, anch: [-22, -12], name: "Мурад Сарафанов", time: "5 дней назад", likes: 12, isliked: true,
                text: "Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие.\
                       Выкрикивал комплименты повару — никто не жаловался из соседей."
                })
