include ./components/textbox/textbox
include ./components/dropdown/guests
include ./components/button/button
include ./components/checkbox/checkbox
include ./components/radiogroup/radiogroup
include ./components/toggle/toggle

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Пример страницы
    link(rel="stylesheet" type="text/css" href="main.css")
    
  body
    script(src="main.bundle.js")
    //.wrapper
    +textbox({title: "Fuck", placeholder: "Email:"})
    +textbox({title: "shit", text: "Sluts"})
    +guests({values: [1,2,3]})
    +textbox
    +button({text: "fuck"})
    +button({text: "fuck", type: "bordered"})
    +button({text: "fuck", type: "filled"})
    +button({text: "fuck", type: "pay"})
    +checkbox({text: "Можно пригласить гостей (до 10 человек)", checked: true})
    +checkbox({text: "Можно пригласить гостей \n(до 10 человек)", checked: true})
    +checkbox({text: "Можно пригласить гостей \n(до 10 человек)", isrich: true, checked: false})
    +radiogroup({name: "radio1", labels: ["Мужчина", "Женщина"], isel: 0})
    +toggle({text: "fuck fuck"})
  
