include ./components/textbox/textbox
include ./components/dropdown/guests
include ./components/button/button
include ./components/checkbox/checkbox

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Пример страницы
    link(rel="stylesheet" type="text/css" href="main.css")
    
  body
    script(src="main.bundle.js")
    //.wrapper
    +textbox({title: "Fuck", placeholder: "Email:"})
    +textbox({title: "shit", text: "Sluts"})
    +guests({values: [1,2,3]})
    +textbox
    +button({text: "fuck"})
    +button({text: "fuck", type: "bordered"})
    +button({text: "fuck", type: "filled"})
    +button({text: "fuck", type: "pay"})
    +checkbox({text: "sluts", checked: true})



