:root {
  --c_dark100: #1F2041;
  --c_dark75: rgba(31, 32, 65, 0.75);
  --c_dark50: rgba(31, 32, 65, 0.50);
  --c_dark25: rgba(31, 32, 65, 0.25);
  --c_dark10: rgba(31, 32, 65, 0.10);
  --c_dark05: rgba(31, 32, 65, 0.05);
  --c_purple: #BC9CFF;
  --c_purple_grad: #8BA4F9;
  --c_green: #6FCF97;
  --c_green_grad: #66D2EA;
}
