
@mixin font-h2() {
  font-family: Quicksand;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  color: var(--c_dark100);
}

@mixin font-h3() {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  line-height: 15px;
}

@mixin font-body() {
  
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

@mixin font-cards-header() {
  font-family: Opensans;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
}
